.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
interactice-button {
    background: transparent;
    color: #000;
    &:hover {
        background: transparent;
        color: #000;
    }
}